<div class="hero-uni">
	<h1>Welcom to One Month Rails!<h1>
	<p>
		Yo've found the home page for the 
		<%= link_to "One Month Rails", "http://onemonthrails.com"%>
		application.
	</p>
	<p>
		<%= link_to "Sign Up Now", "#", class: "btn btn-primary btn-larg"%>
	</p>
</div>

